body {
  background-color: #ecf0f1;
  font-family: "Helvetica";
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 50vh;
  width: 40vw;
  gap: 5vh;
  margin: auto;
  padding: 3vw;
  background-color: snow;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}

input {
  padding: 10px;
  font-size: 1rem;
  width: 95%;
  text-align: right;
}

.calc-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
  height: 80%;
}
.btn {
  background-color: lightgray;
  padding: 5px;
  box-shadow: 2px 2px gray;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
}
.op {
  background-color: palevioletred;
  color: white;
}

.btn:hover {
  transform: scale(105%);
}

.btn:active {
  transform: scale(95%);
}
