body {
  background-image: url("https://ik.imagekit.io/d9mvewbju/BBA-NeetoSite-and-Project-Resources/password-generator-container_tarSlyutN.png?updatedAt=1730755103984");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
}
.generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  height: auto;
  padding: 4vh;
  border-radius: 5px;
  gap: 10px;
}
.checkboxes {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#copy-alert {
  height: 2vh;
  width: auto;
  padding: 10px;
  position: fixed;
  bottom: 10vh;
  background-color: #2ea33a;
  color: white;
  border-radius: 10px;
}

#checkbox-alert {
  height: 2vh;
  width: auto;
  padding: 10px;
  position: fixed;
  bottom: 5vh;
  background-color: #e54c3c;
  color: white;
  border-radius: 10px;
}

.hidden {
  display: none;
}
.display {
  display: flex;
  width: 80%;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 16px;
}

#password {
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1.2rem;
  width: 70%;
}
#copy-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
#copy-btn:hover {
  background-color: #45a049;
  cursor: pointer;
}
.slider-container {
  display: flex;
  gap: 10px;
  & label {
    color: black;
    font-weight: 800;
  }
}
.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  & div {
    width: 30%;
  }
  & ul {
    list-style: none;
  }
}
