body {
  background: linear-gradient(to right, #2c3e50, #3498db);
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  background-color: white;
  text-align: center;
  min-width: 50vw;
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;

  gap: 10px;
  text-align: left;
  & label {
    color: blue;
  }
}
form > input,
form > textarea {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ecf0f1;
  border: 2px solid lightblue;
}

form > input[type="submit"] {
  background: linear-gradient(to right, orange, #ff6b00);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

form > h1 {
  text-align: center;
  font-weight: 800;
  color: #0d47a1;
}

#emptyFieldWarningDialog {
  display: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
#dialogMessageContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to right, rgb(100, 216, 255), rgb(155, 1, 155));
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  height: 100px;
  color: #fff;
  & span {
    width: 100%;
    display: flex;
    justify-content: end;
    cursor: pointer;
  }
  & p {
    font-size: larger;
  }
}

.hidden {
  display: none;
}

section {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#eventInvitation {
  margin: auto;
  height: auto;
  max-height: 50vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 50px;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  & h1 {
    margin: 0;
    color: red;
  }
  & p {
    font-style: italic;
  }
}

#eventDetails {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#eventDate {
  color: red;
  font-weight: 800;
}
#eventTime {
  display: flex;
  flex-direction: row;
  & p {
    font-size: small;
  }
}
